body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:lightslategrey;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
}